<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Type</key>
	<string>Tool</string>
	<key>Name</key>
	<string>Can</string>
	<key>SmallIcon</key>
	<string>can.png</string>
	<key>BigIcon</key>
	<string>can_big.png</string>
</dict>
</plist>
